<h1>Ajouter un produit</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nom du produit:</label>
    <input type="text" id="name" formControlName="name" required />
  </div>
  <div>
    <label for="name">Quantité:</label>
    <input type="number" id="quantity" formControlName="quantity" required />
  </div>
  <div>
    <label for="price">Prix:</label>
    <input type="number" id="price" formControlName="price" required />
  </div>
  <button type="submit">Ajouter</button>
</form>
