<div class="container-lg">
  <h1 class="text-center">Ajouter un produit</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="name">Nom du produit:</label>
      <input class="form-control" type="text" id="name" formControlName="name" required />
    </div>
    <div class="mb-3">
      <label class="form-label" for="name">Quantité:</label>
      <input class="form-control" type="number" id="quantity" formControlName="quantity" required />
    </div>
    <div class="mb-3">
      <label class="form-label" for="price">Prix:</label>
      <input class="form-control" type="number" id="price" formControlName="price" required />
    </div>
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </form>
</div>
